/* colors page
#1A1A1D negro
#3B1C32 morado oscuro
#6A1E55 morado medio
#A64D79 rosado */

html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* UTILIDADES */

.container{
    max-width: 120rem;
    margin: 0 auto;
}
.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

/* HEADER */
.container-hero{
    background-color:#6A1E55  ;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 2rem 0;
}
.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 50px;
}
.customer-support i{
    font-size: 3.3rem;
}
.content-customer-support{
    display:flex;
    flex-direction: column;
}
.content-customer-support .number{
    text-align: center;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.container-logo i{
    font-size: 3rem;
}
.container-logo h1 a{
    text-decoration: none;
    color:#1A1A1D ;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.container-user .bi-person-bounding-box{
    font-size: 3rem;
    color: #1A1A1D;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}
.container-user .bi-cart-plus{
    font-size: 3rem;
    color: #1A1A1D;
    padding-left: 1rem;
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
/* NAVBAR */
.container-navbar{
    background-color:#3B1C32 ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navbar .fa-bars{
    display: none;
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu li{
list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #1A1A1D;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: #e2e2e2;
    position: absolute;
    bottom:-3px ;
    left: 50% ;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}
.menu a:hover::after{
    opacity: 1;
}
.menu a:hover{
color: #A64D79;
}
.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border:2px solid #e2e2e2 ;
    border-radius: 2rem;
    background-color:white;
    height: 4.4rem;
    overflow: hidden;
}
.search-form input{
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #3B1C32;
    cursor: pointer;
}
.search-form input::-webkit-search-cancel-button{
    appearance: none;
}
.search-form .btn-search{
    border: none;
    background-color:#3B1C32;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}
.btn-search i{
    font-size: 2rem;
    color:#e2e2e2 ;
}

/* BANNER */
.banner{
    background-image:linear-gradient(100deg, #000000, #00000020), url(../medios/banner.jpg) ;
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.content-banner{
    max-width: 90rem ;
    margin: 0 auto;
    padding: 20rem 0;
}
.content-banner p{
color:grey;
font-size: 1.2rem;
margin-bottom: 1rem;
font-weight: 500;
}
.content-banner h2{
color: #3B1C32;
font-size: 3.5rem;
font-weight: 500;
line-height: 1.2;
}
.content-banner a{
margin-top: 2rem;
text-decoration: none;
color: #e2e2e2;
background-color:#6A1E55;
display: inline-block;
padding: 1rem 3rem;
text-transform: uppercase;
border-radius: 3rem;
}
.content-banner a:hover{
    color: black;
    transform: scale(1.3);
    z-index: 2;
    font-weight: 4rem;
}


/*main content*/
.main-content{
    background-color:#1A1A1D ;
}


/*Caracteristicas*/
.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}
.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color:#3B1C32;
    border-radius: 1rem;
    padding: 1.5rem 0;
}
.card-feature i{
    font-size: 2.7rem;
    color:white;
}
.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.feature-content span{
font-weight: 700;
font-size: 1.2rem;
color:white;
}
.feature-content p{
color:white;
font-weight: 500;
}

/* categorias*/
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;   
}
.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.card-category{
     height: 20rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 2rem;
     gap: 2rem;
}
.category-pc{
background-image: linear-gradient(#00000080, #00000080), url(../medios/pc-imagen.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.category-componentes{
background-image: linear-gradient(#00000080, #00000080), url(../medios/componentes-imagen.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.category-monitores{
background-image: linear-gradient(#00000080, #00000080), url(../medios/monitor-imagen.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.card-category p{
    font-size: 2.5rem;
    color: white;
    text-transform: capitalize;
    position: relative;
}
.container-categories a{
    text-decoration: none;
}
.card-category p::after{
content:'';
width: 2.5rem;
height: 2px;
background-color: white;
position:absolute;
bottom: -1rem;
left: 50%;
transform:translate(-50%, 50%) ;
}
.card-category span{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}
.card-category span:hover{
    color:#A64D79;
}

/*top productos*/
.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.container-opcions{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.container-opcions span{
    color:black;
    background-color: gray;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform:capitalize ;
    border-radius: 2rem;
    cursor: pointer;
}
.container-opcions span:hover{
background-color:#A64D79;
color:black;
}
.container-opcions span.active{
background-color:#A64D79;
color:black;
}
.nose{
    color: #1A1A1D;
}

/*productos*/
.heading-1{
    text-decoration: underline;
    color: #e2e2e2;
}
.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.card-product:hover{
    box-shadow: 10px 10px 10px #6A1E55;
}
.container-img{
    position: relative;
}
.container-img img{
    width: 100%;
}
.container-img  .discount{
    position: absolute;
    left: 0;
    background-color: #A64D79;
    color: white;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}
.card-product:hover .discount{
background-color: #3B1C32;
}
.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position:absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}
.button-group span{
    border: 1px solid #A64D79 ;
    padding: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease ;
}
.button-group span:hover{
    background-color: #3B1C32;
}
.button-group span i{
    font-size: 1.5rem;
    color: #3B1C32;
}
.button-group span:hover i{
    color: white;
}
.card-product:hover .button-group{
z-index: 0;
right: -1rem;
}
.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}
.stars{
    grid-row: 1/2;
    grid-column: 1/-1;
}
.stars i{
    font-size: 1.3rem;
    color: #3B1C32;
}
.content-card-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content-card-product h3:hover{
    color: #A64D79;
}
.add-cart{
    justify-self: start;
    border: 2px solid #3B1C32;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
.add-cart:hover{
    background-color: #A64D79;
}
.add-cart i{
    font-size: 1.5rem;
    color:#3B1C32;
}
.content-card-product .price{
    justify-self: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}
.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #A64D79;
    margin-left: .5rem;
}


/*gallery*/
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-img-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

/*especiales*/
.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 3rem solid #1A1A1D;
}

/*footer*/
.footer{
    background-color:#3B1C32;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    color:#000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0;
}
    
/*footer*/
.footer{
    background-color:#3B1C32;
}
.container-footer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding:3rem ;
}
.menu-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr)30rem;
    gap: 3rem;
    justify-items: center;
}
.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: underline;
}
.contact-info,
.information,
.my-account,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 300;
}
.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.information ul li a:hover,
.my-account ul li a:hover{
   color: #A64D79;
}
.social-icons{
    display: flex;
    gap: 1.5rem;
}
.social-icons span{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons span i{
    color: white;
    font-size: 1.2rem;
}
.facebook{
    background-color: #3b5998;
}
.instagram{
    background-color:#6A1E55;
}
.whatsapp{
    background-color: green;
}
.x-twitter{
    background-color: #000000;
}
.youtube{
    background-color: red;
}
.content p{
    font-size: 1.4rem;
    color: black;
    font-weight: 300;
}
.content input{
    outline: none;
    background: none;
    border: none;
    border-bottom:2px solid #A64D79 ;
    cursor: pointer;
    padding: 0.5rem;
    color:white;
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content input::-webkit-input-placeholder{
    color: black;
}
.content button{
    border: none;
    background-color:#6A1E55;
    color:black;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem ;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-weight: 600;
}
.content button:hover{
    background-color:#1A1A1D;
    color:#A64D79;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    border-top: 1px solid #3B1C32;
}
.copyright p{
    font-weight: 400;
    font-size: 1.5rem;
}
/*pagina servicios*/

.servicios{
    background-color: #1A1A1D;
}
.titulo-servicios{
    text-align: center;
    color: #e2e2e2;
    text-decoration: underline;
    font-size: 7rem;
}
.slider-box{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.texto{
    position:absolute;
    text-align:center;
    padding: 0 250px;
    top: 250px;
    color:#e2e2e2
}
.texto h2{
    font-size: 60px;
    margin-bottom: 4.5rem;
}
.texto p{
    font-size: 30px;
    margin-bottom:2.5rem ;
}
.slider-box img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.containerr{
    max-width: center;
    padding: 0 20px ;
}
.sevices-section{
    display: flex;
    justify-content: center;
    padding: 50px 0 ;
}
.services-cards{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-cards-info{
    max-width: 900px;

}
.service-cards-info h2{
    font-size: 5rem;
    font-weight: 900;
    color: #e2e2e2;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.service-cards-info p{
    font-size: 2.5rem;
    color: #e2e2e2;
    margin-bottom: 1rem;
}
.services-cards-card{
display: flex;
justify-content: center;

}
.service-card{
    max-width: 25%;
    border: solid 1px var(#e2e2e2);
    margin: 3rem 1rem ;
    padding: 2rem 1rem;
    border-radius: 5px;
}
.service-card:hover{
    background-color: #3B1C32;
}
.service-card i{
    font-size: 56px;
    color: #A64D79;

}
.service-card h3{
    font-size: 2rem;
    font-weight: 700;
    color: #A64D79;
}
.service-card p{
    font-size: 1.5rem;
    color:#e2e2e2;
    margin-top: 1rem;
    text-align: center;
}
.service-card a{
    margin-top: 2rem;
text-decoration: none;
color:black;
background-color:#6A1E55;
display: inline-block;
padding: 1rem 3rem;
text-transform: uppercase;
border-radius: 3rem;
}
.service-card a:hover{
    color: black;
     transform: scale(1.3);
    z-index: 2;
    font-weight: 4rem;
}
.sectionn{
    background-color: green;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo-premium{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    text-decoration: underline;
}
.service-card ul{
    text-decoration: none;
    font-size: 1.5rem;
    color: #e2e2e2;
    text-align: center;
    list-style-type: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* pagina de contactos*/

.contactos{
    background-color: #1A1A1D;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    color: #e2e2e2;
}
.contact-containerr{
    max-width: 1500px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;
    background-color: #3B1C32;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.219);
    border-radius: 0.5rem;
    overflow: hidden;
}
.form-containerr{
   padding: 10px;
}
.form-containerr h3{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
}
.contact-form{
    display: grid;
    row-gap: 1rem;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: #e2e2e2;
    padding: 10px;
    font-size: 1rem;
    color: black;
    border-radius: 0.4rem;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form .send-button{
    border: none;
    outline: none;
    background-color:#6A1E55 ;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form .send-button:hover{
    background-color:#A64D79 ;
    transition: 0.3s all linear;
}
.maps iframe{
    width: 100%;
    height: 100%;
}

/* pagina nosotros*/
.nosotros{
    background-color: #3B1C32;
}
.titulo-nosotros{
    background-color: #1A1A1D;
    color:#e2e2e2;
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}
.timeline-section{
    background-color: #1A1A1D;
    min-height: 100vh;
    padding: 100px 15px;
}
.timeline-items{
    max-width: 1000px;
    margin: auto;
    display:flex ;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content:"";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #9c9c9c;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position:relative ;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right:calc(50% + 30px) ;
    text-align: right;
}
.timeline-item:nth-child(even){
     padding-left:calc(50% + 30px) ;
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color: #A64D79;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 2rem ;
    color: #e2e2e2;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: #3B1C32;
    padding: 30px;
    border-radius: 5px;
}
.timeline-content h3{
font-size: 2rem;
color: #e2e2e2;
margin: 0 0 10px;
text-transform: capitalize;
font-weight: 500;
}
.timeline-content p{
 color: #9c9c9c;
 font-size: 1.5rem;
 font-weight: 300;
 line-height: 2rem;
}
.fondo-color{
    background-color: #1A1A1D;
}


 /* tablet - 768px*/
 @media (max-width: 768px){
    html{
        font-size: 55%;
    }
    .hero{
        padding: 2rem;
    }
    .customer-support{
        display: none;
    }
    .content-shopping-cart{
        display: none;
    }
    .navbar{
        padding: 1rem 2rem;
    }
    .navbar .fa-bars{
        display: block;
        color: #A64D79;
        font-size: 3rem;
    }
    .menu{
        display: none;
    }
    .content-banner{
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }
    .container-features{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
    .card-feature{
        padding: 2rem;
    }
    .heading-1{
        font-size: 2.4rem;
    }
    .card-category{
        height: 12rem;
    }
    .card-category p{
        font-size: 2rem;
        text-align:center;
        line-height: 1;
    }
    .card-category span{
        font-size: 1.4rem;
    }
    .container-opcions{
        align-items: center;
    }
    .container-opcions span{
        text-align: center;
        padding: 1rem 2rem;
    }
    .container-products{
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }
.gallery{
    grid-template-rows: repeat(2, 15rem);
}
.menu-footer{
    grid-template-columns: repeat(2, 1fr);
}
.copyright{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

 }
/* cel - 468px*/
@media (max-width: 468px){
html{
    font-size: 42.5% ;
}
.content-banner{
    max-width: 50rem;
    padding: 22rem 0;
}
.heading-1{
    font-size: 2.8rem;
}
.card-feature{
    flex-direction: column;
    border-radius: 2rem;
}
.feature-content{
    align-items: center;
}
.feature-content p{
    font-size: 1.4rem;
    text-align: center;
}
.feature-content span{
    font-size: 1.6rem;
    text-align: center;
}
.container-opcions span{
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
}
.container-products{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}
.container-img .discount{
    font-size: 2rem;
}
.content-card-product h3{
    font-size: 2.2rem;
}
.gallery{
    grid-template-rows: repeat(2, 20rem);
}
.contact-info ul,
.information ul,
.my-account ul{
    display: none;
}
.contact-info{
    align-items: center;
}
.menu-footer{
    grid-template-columns: 1fr;
}
.content p{
    font-size: 2rem;
}
/*servicios*/
.servicios{
    padding: 10px;
}
.slider-box{
    width: 100%;
}
.texto{
    top: 50px;
    padding: 0 25px;
}
.texto h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.texto p{
    font-size: 15px;
}


.services-cards-card{
    flex-direction: column;
    align-items: center;
    max-width: auto;
}
.service-card{
    max-width: 100%;
    margin: 1rem ;

}

/* pagina contactos */

.contact-containerr{
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.maps iframe{
    height: 400px;
}

/*pagina nosotros*/

.timeline-items::before{
    left: 7px;
}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
    padding-left: 37px;
}
.timeline-dot{
    left: 0;
}
}